@use '@/styles/mixins.scss';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  @include mixins.UseScrollBar;

  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #000;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-Wrapper {
  z-index: 1;
  display: grid;
  grid-template-columns: 240px 1fr;
  flex: 1; // Fill remaining vertical space below the header
  @include mixins.UseScrollBar;

  &.collapsed { grid-template-columns: 64px 1fr; }
  &.hidden { grid-template-columns: 1fr; }
  &.minimal { grid-template-columns: 1fr; }
}

.App-Main {
  overflow-y: auto;
  height: 100%;
}

