// @use '@/styles/mixins.scss';
// @include mixins.scrollable();
// @include mixins.ScreenWrapper;

@mixin scrollable($overflowRule: auto) {
  overflow-x: hidden;
  overflow-y: $overflowRule;

  &::-webkit-scrollbar {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 8px; // Width of the vertical scrollbar
  }

  &::-webkit-scrollbar-thumb {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #464749; // Default color of the scrollbar thumb
    border-radius: 4px; // Round the scrollbar thumb edges
  }

  &::-webkit-scrollbar-track {
    margin-top: 5px;
    margin-bottom: 5px;
    background: #949596; // Background color of the scrollbar track
    border-radius: 4px; // Round the scrollbar track edges
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #545657; // Darker color when the thumb is hovered
  }
}



@mixin UseScrollBar() {
  @include scrollable();
  overflow-y: auto;
  overflow-x: hidden; // Hide overflow content that leads outside of element, horizontally (left or right)
  flex-shrink: 0;
  height: 100%;
}

@mixin FlexSpaceBetween() {
  display: flex; // Flexbox for layout
  justify-content: space-between; // Puts empty space between child divs
  align-items: center; // Vertically centers child divs
}

@mixin FlexCenter() {
  display: flex; // Flexbox for layout
  justify-content: center; // Horizontally centers child elements
  align-items: center; // Vertically centers child divs
}

@mixin Flex() {
  display: flex;
  align-items: center;
}

@mixin SidebarArrowStyle() {
  width: 24px;
  height: 24px;
  mask-image: url('../../assets/icons/caret-down-md\ \(Coolicons\).svg');
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;
  background-color: #fff;
  transition: transform 0.2s ease-in-out; // Smooth transition effect

  &.open-it { transform: rotate(0deg); }
  &.close-it { transform: rotate(180deg); }
}

@mixin IconPlaceholder($size: 20px) {
  width: $size;
  height: $size;
  mask-image: none;
  mask-repeat: no-repeat;
  mask-position: center;
  mask-size: contain;

  // Only apply background when it's a real icon
  &:not(.empty-placeholder-icon) {
    background-color: #fff;
  }

  &.icon-home { mask-image: url('../../assets/icons/home\ \(Calcite\).svg'); }
  &.icon-settings { mask-image: url('../../assets/icons/settings-cog\ \(Smoothie\).svg'); }
  &.icon-bug { mask-image: url('../../assets/icons/bug\ \(Dazzle\).svg'); }
  &.icon-link { mask-image: url('../../assets/icons/link-2\ \(Xnix\).svg'); }
  &.icon-alert { mask-image: url('../../assets/icons/alert\ \(Uxaspects\).svg'); }
  &.icon-alert-filled { mask-image: url('../../assets/icons/alert-filled\ \(Uxaspects\).svg'); }
  &.icon-alert-square-circle { mask-image: url('../../assets/icons/alert-square\ \(Micions\).svg'); }
  &.icon-add { mask-image: url('../../assets/icons/add\ \(Xnix\).svg'); }
  &.icon-down-right-1 { mask-image: url('../../assets/icons/arrow-right-corner-down\ \(Minimal\).svg'); }
  &.icon-down-right-2 { mask-image: url('../../assets/icons/arrow-square-down-right\ \(Dazzle\).svg'); }
  &.icon-menu { mask-image: url('../../assets/icons/burger-menu\ \(Start\).svg'); }
}


