.UniversalTableWrapper {
  display: inline-block;
  position: relative;

  .UniversalTable {
    overflow-x: auto;

    table {
      width: auto;
      //margin: 0 auto;
      font-family: 'Roboto', sans-serif;
      font-size: 13px;
      text-align: left;
      border-collapse: collapse; // Default is separate. Separate = 2px borders basically even when set to 1px for everything.
      border-spacing: 0px; // Default for a table is 2px.


      th, td {
        padding: 2px;
        border: 1px solid #fff;
        cursor: default;
      }


      thead tr {
        height: 26px;
        min-height: 26px;
        font-size: 16px;
        text-align: center;
        font-weight: bold;
        color: #fff;
        background-color: #007aa5;
      }


      tbody tr {
        height: 21px;
        min-height: 21px;
        font-size: 13px;
      }


      // Table body row alternating colors.
      tbody tr:nth-child(odd)  { background-color: #ebecf0; }
      tbody tr:nth-child(even) { background-color: #c4d8e2; }


      input,
      select {
        width: 100%;
        height: 100%;
        font: inherit;
        text-align: inherit;
        background-color: transparent;
        border: none;
        outline: none;
      }

      td.editing,
      td.selected {
        z-index: 2;
        position: relative;
        outline: 2px solid #1a73e8;
        outline-offset: -2px;
      }

      td.selected-editable:hover { cursor: text; }


      .section-separator { border-bottom: 4px solid #000; }
      .text-center { text-align: center; }
      .border-left-separator { border-left: 1px solid #000; }
      .border-right-separator { border-right: 2px solid #000; }


      /*
      input:focus-visible {
        border: none;
        //outline-offset: 0px;
      }

      input:not([type='image'],
                [type='range'],
                [type='checkbox'],
                [type='radio']) {
        overflow: clip !important;
        //overflow-clip-margin: 0px !important;
      }

      input[type='text'] {
        padding-block: 0px;
        padding-inline: 0px;
      }
      */

      .gs-dropdown-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        width: 100%;
        height: 100%;
        font: inherit;
        background: none;
        cursor: default;

        .gs-value {
          flex: 1;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }

        .caret-container {
          margin-left: 6px;
          border-radius: 4px;

          .gs-caret {
            mask: url('../../../assets/icons/caret-down-md\ \(Coolicons\).svg');
            width: 15px;
            height: 15px;
            mask-repeat: no-repeat;
            mask-position: center;
            mask-size: contain;
            background-color: #666;
          }

          .gs-caret:hover { background-color: #888; }
          &.open .gs-caret { display: none; }
          &:hover { background-color: #444; }
        }
      }

      .gs-dropdown-menu {
        z-index: 10;
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 100%;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .gs-dropdown-item {
          padding: 6px 10px;
          cursor: pointer;

          &:hover { background-color: #f0f0f0; }
        }
      }




    }
  }

  .coord-cell {
    width: 20px;
    min-width: 20px;
    max-width: 30px;
    padding: 4px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #000;
    background-color: #ccc;
    border: 1px solid #fff;
  }

  .toggle-coords {
    position: absolute;
    top: 6px;
    white-space: nowrap;
    font-size: 12px;
  }
}

