.Landing {
  display: flex; // Enables flexbox on the body
  justify-content: center; // Horizontally centers child elements
  align-items: center; // Vertically centers child elements
  flex-direction: column;

  overflow: hidden; // Prevent overflow

  height: 100vh;

  border: 2px solid #f0f;
}

