@use '@/styles/mixins.scss';

.Sidebar {
  @include mixins.UseScrollBar;
  width: 240px;
  padding: 2px;
  color: #fff;
  background-color: #0d1117;
  user-select: none;
  border-right: 1px solid #888;

  &.hidden,
  &.minimal { display: none; }

  // Hide text labels while keeping icons visible
  &.collapsed {
    width: 64px;

    .sidebar-dropdown {
      .sidebar-dropdown-label {
        .label-left {
          justify-content: center;
          width: 100%;

          .icon-placeholder {
            width: 26px;
            height: 26px;
            margin-right: 0;
          }

          .item-label { display: none; }
        }

        .label-right { display: none; }
      }
    }

    .sidebar-submenu .sidebar-submenu-label .label-left { display: none; }
    .sidebar-submenu .sidebar-submenu-label {
      .label-right {
        justify-content: center;
        width: 100%;

        .arrow {
          width: 30px;
          height: 30px;
        }
      }
    }

    .sidebar-group .sidebar-group-label { display: none; }
    .sidebar-link-wrapper .sidebar-link {
      justify-content: center;
      width: 100%;

      .icon-placeholder {
        width: 26px;
        height: 26px;
        margin-right: 0;

        &.empty-placeholder-icon {
          margin-right: 0;
        }
      }

      span { display: none; }
    }

    // Indentation for links inside dropdown.
    .sidebar-dropdown .sidebar-dropdown-children .sidebar-link-wrapper .sidebar-link { margin-left: 0; }
    // Indentation for links inside dropdown inside submenu.
    .sidebar-dropdown .sidebar-dropdown-children .sidebar-submenu .sidebar-submenu-children .sidebar-link-wrapper .sidebar-link { margin-left: 0; }
    // Indentation for links inside a group.
    .sidebar-group .sidebar-link-wrapper .sidebar-link { margin-left: 0; }

  }







  .sidebar-dropdown,
  .sidebar-submenu {
    &:not(:last-child) { margin-bottom: 6px; }

    .sidebar-dropdown-label,
    .sidebar-submenu-label {
      @include mixins.FlexSpaceBetween;
      min-height: 38px;
      margin: 4px;
      padding: 0 12px 0 8px;
      border-radius: 8px;
      cursor: pointer;

      &:hover { background-image: linear-gradient(to bottom right, #610429, #ad1216); }

      .label-left {
        @include mixins.Flex;

        .item-label {
          font-size: 16px;
          font-weight: bold;
        }
      }

      .label-right {
        @include mixins.Flex;

        .arrow { @include mixins.SidebarArrowStyle; }
      }
    }

    .sidebar-dropdown-children {
      padding: 2px 0;
      background-color: #151b23;
      border-top: 1px solid #888;
      border-bottom: 1px solid #888;
    }
  }

  .sidebar-group {
    min-height: 38px;

    &:not(:first-child) { margin-top: 16px; border-top: 1px solid #888; }

    .sidebar-group-label {
      @include mixins.Flex;
      min-height: 38px;
      margin: 4px;
      padding: 0 12px 0 8px;
      border-radius: 8px;

      .icon-placeholder { margin-right: 8px; }
    }
  }

  .sidebar-link-wrapper {
    @include mixins.Flex;
    min-height: 38px;
    margin: 4px;
    padding: 0 12px 0 8px;
    text-decoration: none;
    border-radius: 8px;

    .sidebar-link {
      @include mixins.Flex;
      color: #fff;
      font-size: 14px;
    }

    &.selected { background-image: linear-gradient(to bottom right, #610429, #ad1216); }
    &:hover { background-image: linear-gradient(to bottom right, #610429, #ad1216); }
  }

  .sidebar-submenu {
    border-top: 1px solid #888;

    .sidebar-submenu-label .label-left { margin-left: 16px; }

    .submenu-arrow {
      margin-left: auto;
      font-size: 12px;
    }
  }

  // Indentation for links inside dropdown.
  .sidebar-dropdown .sidebar-dropdown-children .sidebar-link-wrapper .sidebar-link { margin-left: 16px; }
  // Indentation for links inside dropdown inside submenu.
  .sidebar-dropdown .sidebar-dropdown-children .sidebar-submenu .sidebar-submenu-children .sidebar-link-wrapper .sidebar-link { margin-left: 32px; }
  // Indentation for links inside a group.
  .sidebar-group .sidebar-link-wrapper .sidebar-link { margin-left: 16px; }

  .icon-placeholder {
    @include mixins.IconPlaceholder(20px);
    margin-right: 8px;

    &.empty-placeholder-icon {
      border: 1px dashed rgba(255, 255, 255, 0.5);
      border-radius: 4px;
    }
  }
}

