@use '@/styles/mixins.scss';

.UniversalFormModal_Overlay {
  @include mixins.FlexCenter;
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.25);
  user-select: none !important;

  .UniversalFormModal {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    position: relative;
    width: 90%;
    min-width: 400px;
    max-width: 600px;
    max-height: 80%;
    padding: 16px;
    color: #000;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);


    .static-header {
      z-index: 100;
      position: sticky;
      top: 0;

      h1 {
        font-size: 26px;
        font-weight: bold;
        text-align: center;
        border-bottom: 3px solid #000;
      }

      .modal-close-fixed {
        z-index: 150;
        position: absolute;
        top: 4px;
        right: 4px;
        cursor: pointer;

        .icon-close {
          width: 24px;
          height: 24px;
          mask-image: url('@/assets/icons/close-md\ \(Coolicons\).svg');
          mask-repeat: no-repeat;
          mask-position: center;
          mask-size: contain;
          background-color: #333;

          &:hover {
            transform: scale(1.08);
            background-color: #000;
          }
        }
      }
    }


    .modal-body {
      @include mixins.Scrollable;
      flex: 1;
      margin-top: 10px;
      padding-right: 4px;

      .form-row {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 10px;
        //border: 1px solid #0f0;

        .form-cell {
          flex: 1;
          min-width: 150px;
          padding: 2px;
          //border: 1px solid #f00;

          // HEADER STYLING
          &.form-header-main {
            font-size: 26px;
            font-weight: bold;
            text-align: center;
            border-bottom: 3px solid #000;
          }
          &.form-header-secondary {
            margin-top: 4px;
            padding-top: 8px;
            font-size: 22px;
            font-weight: bold;
            border-top: 2px solid #000;

            &.no-top-border {
              border-top: none;
            }
          }
          &.form-header-row-section {
            flex-basis: 100%;
            width: 100%;
            margin: 6px 0 -12px 0;
            font-weight: 500;
          }


          // TEXT INPUT FIELD STYLING
          .text-input {
            position: relative;

            input[type='text'] {
              width: 100%;
              padding: 6px 6px;
              font-size: 16px;
              background: none;
              outline: none;
              border: 0;
              //border-bottom: 2px solid #333;
              transition: 0.3s 0.2s ease;

              &:focus + .line {
                &:after {
                  transform: scaleX(1);
                }
              }

              &::placeholder {
                text-align: center;

              }

              &.error {
                //border: 1px solid #ff4d4f;
                background-color: #fff0f0;
              }
            }

            .line {
              position: absolute;
              bottom: 2px;
              width: 100%;
              height: 2px;
              background-color: #bdc3c7;

              &:after {
                content: '';
                position: absolute;
                float: right;
                width: 100%;
                height: 2px;
                transform: scaleX(0);
                transition: transform 0.3s ease;

                background-color: #8a2be2;
              }
            }

            &.error .line { background-color: #f00; }
          }


          // DROPDOWN STYLING
          .form-dropdown {
            position: relative;
            width: 100%;
            font-size: 16px;

            .dropdown-toggle {
              @include mixins.FlexSpaceBetween;
              width: 100%;
              padding: 6px 10px;
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              cursor: pointer;
              transition: border 0.2s;

              &:focus {
                outline: none;
              }
            }

            .selected-value {
              flex: 1;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
            }

            .label-right {
              .arrow {
                @include mixins.SidebarArrowStyle(22px);
                background-color: #000;
              }
            }

            .dropdown-options {
              z-index: 10;
              position: absolute;
              overflow-y: auto;
              width: 100%;
              max-height: 200px;
              background-color: #fff;
              border: 1px solid #ccc;
              border-radius: 4px;
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

              .dropdown-option {
                padding: 6px 10px;
                cursor: pointer;
                white-space: nowrap;

                &:hover {
                  background-color: #f0f0f0;
                }
              }
            }
          }


          // RADIO BUTTON STYLING
          //.radio-section {}


          // CHECKBOX STYLING
          .checkbox-field {
            display: flex;
            align-items: center;
            gap: 8px;
            width: 100%;

            input[type='checkbox'] {
              display: none;
            }

            .custom-checkbox-wrapper {
              display: flex;
              align-items: center;
              gap: 8px;
              font-size: 16px;
              cursor: pointer;
            }

            .custom-checkbox {
              position: relative;
              width: 20px;
              height: 20px;
              background-color: #fff;
              border: 1px solid #bdc1c6;
              border-radius: 4px;
              transition: background 0.2s;

              &::before {
                content: '';
                position: absolute;
                top: 2px;
                left: 6px;
                width: 6px;
                height: 12px;
                border: solid #fff;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
              }
            }

            input:checked + label .custom-checkbox {
              //background-color: #06842c;
              //border-color: #06842c;
              background-color: #8a2be2;
              border-color: #8a2be2;

              &::before {
                opacity: 1;
              }
            }
          }
        }
      }
    }


    .modal-footer {
      @include mixins.FlexCenter;
      min-height: 70px;

      .sub-button {
        position: relative;
        width: 180px;
        min-width: 50px;
        min-height: 50px;
        margin: 6px;
        padding: 16px 20px;
        color: #fefefe;
        font-size: 18px;
        background: #008000;
        border: 0;
        border-radius: 40px;
        cursor: pointer;
        appearance: none;
        transition: border-radius linear 0.1s, width linear 0.1s;

        &:focus {
          outline: 0;
        }

        .text {
          z-index: 2;
          position: relative;
        }

        .icon {
          z-index: 2;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          width: 40px;
          height: 40px;
          transform: translate(-50%, -50%) scale(0);

          svg {
            display: block;
            width: 100%;
            height: 100%;
          }
        }

        &.animate {
          width: 50px !important;
          height: 50px !important;
          padding: 0;
          color: transparent;

          &:after {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 25px;
            height: 25px;
            border: 3px solid #fefefe;
            border-radius: 50%;
            border-left-color: transparent;
            transform: translate(-50%, -50%);
            animation: spin ease-in-out 2s forwards;
          }

          &.success .icon {
            animation: showSuccess 0.2s ease-in forwards;
            animation-delay: 1s;
          }

          &.error {
            animation: vibrate ease-in 0.5s forwards;
            animation-delay: 2s;

            .icon {
              animation: showError 0.3s ease-in forwards;
              animation-delay: 2s;
            }
          }
        }
      }

      @keyframes spin {
        0% { transform: translate(-50%, -50%) rotate(0deg) scale(1); }
        90% { transform: translate(-50%, -50%) rotate(1080deg) scale(1); }
        100% { transform: scale(0); }
      }

      @keyframes showSuccess {
        from { transform: translate(-50%, -50%) scale(0) rotate(0deg); }
        to { transform: translate(-50%, -50%) scale(1) rotate(0deg); }
      }

      @keyframes showError {
        from { transform: translate(-50%, -50%) scale(0); }
        to { transform: translate(-50%, -50%) scale(1); }
      }

      @keyframes vibrate {
        0% {
          left: 0;
          background-color: #8bc34a;
        }
        10%, 40%, 90%, 70% {
          left: -2px;
        }
        20%, 50%, 80%, 95% {
          left: 2px;
        }
        30%, 60%, 85% {
          left: 0;
        }
        100% {
          left: 0;
          background-color: #f44336;
        }
      }


      .delete-button {
        position: absolute;
        bottom: 20px;
        left: 40px;
        width: 50px;
        height: 50px;
        mask-image: url('@/assets/icons/trash\ \(Start\).svg');
        mask-repeat: no-repeat;
        mask-position: center;
        mask-size: contain;
        background-color: #333;
        cursor: pointer;

        &:hover {
          transform: scale(1.08);
          background-color: #000;
        }
      }
    }
  }
}
